*{
  margin: 0;
  padding: 0;
  
}

body{
  background-color: rgb(28, 29, 31);
}

/* #wrapper{
  padding: 2px;
  border: 1px solid red;
  margin: 10% auto 0px auto;
  width: fit-content;
} */



.cell:hover {
  background-color: aqua;
}

table{
  border-collapse: collapse;
  max-width: 99%;
  margin: 10% auto 0px auto;
}

td{
  width: 25px;
  height: 25px;
  border: 1px solid #b3b3b3;
  /* border: 1px solid rgb(26, 255, 0); */
  background-color: #878787;
  font-size: 10px;
}

.visitedcell{
  width: 25px;
  height: 25px;
  border: 1px solid #b3b3b3;
  /* border: 1px solid rgb(26, 255, 0); */
  background-color: #ff0000;
  font-size: smaller;
}

@keyframes pulse {
  0% {
   
    background-color: #d13a03;
  }
  100% {
    transform: scale(1);
    background-color: #BC4A3C;
  }
}


.wall {
  /* animation: pulse .5s 1; */
  background-color: #BC4A3C;
  border: 1px solid rgb(35, 32, 32);
  
}

.start_cell {
  background-color: red;
  border: 1px solid #b3b3b3;
}


.start {
  background-color: greenyellow;
}

.finish{
  background-color: rgb(0, 60, 255);
}




@keyframes finded {
  0% {
    transform: scale(.5);
    background-color: #FFA500;
  }
  50% {
    background-color: #f1a00abd;
  }
  75% {
    transform: scale(1.2);
    background-color: #e69a0d;
  }
  100% {
    transform: scale(1);
    background-color: #eb9e0f;
  }
}


.find{
  background-color: #ffa600e7;
  animation-name: finded; 
  animation-duration: 1.2s;  
  animation-iteration-count: 1;
  animation-direction: alternate;
}


.path{
  background-color: rgba(27, 113, 218, 0.952);
}

.gridButton{
  padding: 5px;
  margin: 5px;
  font-size: medium;
  background-color: #BC4A3C;
  
}