* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(28, 29, 31);
}

.cell:hover {
  background-color: aqua;
}

table {
  border-collapse: collapse;
  max-width: 99%;
  margin: 10% auto 0px auto;
}

td {
  width: 25px;
  height: 25px;
  border: 1px solid #b3b3b3;
  /* border: 1px solid rgb(26, 255, 0); */
  background-color: #878787;
  font-size: 10px;
}

.visitedcell {
  width: 25px;
  height: 25px;
  border: 1px solid #b3b3b3;
  /* border: 1px solid rgb(26, 255, 0); */
  background-color: #ff0000;
  font-size: smaller;
}

@keyframes pulse {
  0% {
    background-color: #d13a03;
  }
  100% {
    transform: scale(1);
    background-color: #bc4a3c;
  }
}

.wall {
  /* animation: pulse .5s 1; */
  background-color: #bc4a3c;
  border: 1px solid rgb(35, 32, 32);
}

.start_cell {
  background-color: red;
  border: 1px solid #b3b3b3;
}

.start {
  background-color: greenyellow;
}

.finish {
  background-color: rgb(0, 60, 255);
}

@keyframes finded {
  0% {
    transform: scale(0.5);
    background-color: #ffa500;
  }
  50% {
    background-color: #f1a00abd;
  }
  75% {
    transform: scale(1.2);
    background-color: #e69a0d;
  }
  100% {
    transform: scale(1);
    background-color: #eb9e0f;
  }
}

.find {
  background-color: #ffa600e7;
  animation-name: finded;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.path {
  background-color: rgba(27, 113, 218, 0.952);
}

.gridButton {
  padding: 5px;
  margin: 5px;
  font-size: medium;
  background-color: #bc4a3c;
}

/* styles for sorting pallet */

.pillar {
  background-color: #098ae7;
  width: 40px;
  margin: 0 2px 0 2px;
  text-align: center;
  color: #b3b3b3;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;
  font-size: medium;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform-origin: 50% 50% 0px;
}

.minimum {
  background-color: #d42000;
  width: 40px;
  margin: 0 2px 0 2px;
  text-align: center;
  color: #b3b3b3;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;
  font-size: medium;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform-origin: 50% 50% 0px;
}

.sorted {
  background-color: rgba(11, 185, 11, 0.774);
  width: 40px;
  margin: 0 2px 0 2px;
  text-align: center;
  color: #b3b3b3;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;
  font-size: medium;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform-origin: 50% 50% 0px;
}

.currentPillar {
  background-color: #7d26e7;
  width: 40px;
  margin: 0 2px 0 2px;
  text-align: center;
  color: #b3b3b3;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 10px;
  font-size: medium;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transform-origin: 50% 50% 0px;
}

.sortingpallet {
  min-height: 75vh;
  width: 95vw;
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: end;
}

.sortButton {
  padding: 8px;
  margin: 5px;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ddddde;
  border-radius: 10px;
  border: none;
}

.sortDiv {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.arrayControl {
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.arrayControlText {
  margin: 0 0 10px 0;
}

@media (max-width: 700px) {
  .sortingpallet {
    min-height: 60vh;
    width: 95vw;
    margin: 30px auto 0 auto;
  }
  .sortDiv {
    justify-content: center;
  }
  .pillar {
    width: 25px;
    font-size: smaller;
    font-weight: normal;
  }
  .sortButton {
    padding: 5px;
    margin: 5px;
    font-size: small;
  }
  .arrayControlText {
    font-size: smaller;
  }

  .pillar,
  .minimum,
  .sorted,
  .currentPillar {
    width: 25px;
  }
}
